<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.banner.mapper.BannerMapper">
    
    <select id="selectListCount"
            resultType="long">
        select count(*)
        from banner
        where 1 = 1
        ;
    </select>

    <select id="selectList"
            parameterType="com.zerobase.fastlms.banner.model.BannerParam"
            resultType="com.zerobase.fastlms.banner.dto.BannerDto">
        select *
        from banner
        where 1 = 1
        order by reg_dt desc
        limit #{pageStart}, #{pageEnd}
        ;
    </select>

    <select id="selectFrontList"
            resultType="com.zerobase.fastlms.banner.dto.BannerDto">
        select *
        from banner
        where using_yn = 1
        order by sort_value desc
        ;
    </select>
</mapper>